Market Agent.json
{
  "name": "Market news analyser",
  "nodes": [
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Headline #1",
              "cssSelector": "#site-content > div:nth-child(1) > section > div > div > div.layout-desktop__grid.layout-desktop__grid--span4.layout-desktop__grid--column-start-1.layout-desktop__grid--row-start-1.layout-desktop__grid--with-border.layout--default > div > div > div > div.story-group-stacked__primary-story > div > div > div > div > div.primary-story__teaser"
            },
            {
              "key": "Headline #2",
              "cssSelector": "#site-content > div:nth-child(1) > section > div > div > div.layout-desktop__grid.layout-desktop__grid--span6.layout-desktop__grid--column-start-5.layout-desktop__grid--row-start-1.layout-desktop__grid--with-border.layout--default > div > div > div > div > div > div.story-group__article.story-group__article--featured > div > div.featured-story-content > div.headline.js-teaser-headline.headline--scale-5.headline--color-black > a > span"
            },
            {
              "key": "Editor's Picks",
              "cssSelector": "#site-content > div:nth-child(1) > section > div > div > div.layout-desktop__grid.layout-desktop__grid--span2.layout-desktop__grid--column-start-11.layout-desktop__grid--row-start-1.layout--default > div"
            },
            {
              "key": "Top Stories",
              "cssSelector": "#site-content > div:nth-child(3) > section > div",
              "skipSelectors": "h2"
            },
            {
              "key": "Spotlight",
              "cssSelector": "#site-content > div:nth-child(6) > section",
              "skipSelectors": "h2"
            },
            {
              "key": "Various News",
              "cssSelector": "#site-content > div:nth-child(8) > section",
              "skipSelectors": "h2"
            },
            {
              "key": "Europe News",
              "cssSelector": "#site-content > div:nth-child(13) > section",
              "skipSelectors": "h2"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "id": "1e0102b9-fa20-4748-b37e-16497eb17c82",
      "name": "Extract News Content",
      "type": "n8n-nodes-base.html",
      "position": [
        16,
        -256
      ],
      "typeVersion": 1.2,
      "notes": "Extract headlines and news sections from target website"
    },
    {
      "parameters": {
        "url": "https://www.artificialintelligence-news.com/",
        "options": {}
      },
      "id": "9aa4ba9b-0fe6-446e-9824-5697f46ff212",
      "name": "Fetch News Website",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -224,
        -256
      ],
      "typeVersion": 4.2,
      "notes": "Replace with your preferred financial news source"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "3160b020-8c89-4835-9183-b6f4637f7284",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -432,
        -144
      ],
      "typeVersion": 1.2,
      "notes": "Adjust time as needed for your timezone"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "id": "d78415e6-3856-44e0-95b2-5ef2267fc977",
      "name": "AI Language Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        416,
        96
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API Account"
        }
      },
      "notes": "Configure with your preferred AI service (OpenAI, Gemini, Claude, etc.)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "news-combiner",
              "name": "News together",
              "type": "string",
              "value": "=Yahoo news :\n\n{{ $json['Headline '] }};\n\n{{ $json['News #1'] }}\n\n{{ $json['News #2'] }}\n\n\n\nFinancial times news :\n\n{{ $('Extract News Content').item.json['Headline #1'] }};\n\n{{ $('Extract News Content').item.json['Headline #2'] }};\n\n{{ $('Extract News Content').item.json['Editor\\'s Picks'] }};\n\n{{ $('Extract News Content').item.json['Top Stories'] }};\n\n{{ $('Extract News Content').item.json.Spotlight }};\n\n{{ $('Extract News Content').item.json['Various News'] }};\n\n{{ $('Extract News Content').item.json['Europe News'] }};\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "0c4dece0-5e66-41a6-beaf-75b645b5bdd3",
      "name": "Combine News Sources",
      "type": "n8n-nodes-base.set",
      "position": [
        224,
        -256
      ],
      "typeVersion": 3.4,
      "notes": "Merge content from multiple news sources"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are the news to summarise :\n\n{{ $json['News together'] }}",
        "options": {
          "systemMessage": "You role is to summarise the financial news from today. The summary will help an investor to have a clear view of the market, and to make better choice. \n\nYou will write the body of an e-mail using a well structured html format\n\nDo not give me anything other than the actual email contents. \n"
        }
      },
      "id": "d39706be-7a7b-4058-9598-dc18bdc7088a",
      "name": "AI News Summarizer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        432,
        -80
      ],
      "typeVersion": 1.6,
      "notes": "Customize the prompt for your specific needs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -384
      ],
      "id": "3dad0669-7203-45f4-a9db-88e888295083",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        -464
      ],
      "id": "3d8588d5-2318-4ac6-b46d-0ca7bd690f67",
      "name": "Send a text message",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "Your daily briefing",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        752,
        -80
      ],
      "id": "4cdfe4bd-dfe0-4d0b-afc2-07bd0234479e",
      "name": "Send a message",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "id": "77cf02b0-ea05-49bd-a413-51fd8b8bc9db",
      "name": "AI Language Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        432,
        -288
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API Account"
        }
      },
      "notes": "Configure with your preferred AI service (OpenAI, Gemini, Claude, etc.)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are the news to summarise :\n\n{{ $json['News together'] }}",
        "options": {
          "systemMessage": "You role is to summarise the financial news from today. The summary will help an investor to have a clear view of the market, and to make better choice. \n\nYou will write a scientific text message with no special characters.\n\nDo not give me anything other than the actual text contents. The message must not exceed 4050 characters. \n"
        }
      },
      "id": "cbd6c84a-650d-4aa9-8bcc-d3d786b59cdb",
      "name": "AI News Summarizer1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        432,
        -464
      ],
      "typeVersion": 1.6,
      "notes": "Customize the prompt for your specific needs"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch News Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine News Sources": {
      "main": [
        [
          {
            "node": "AI News Summarizer",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI News Summarizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract News Content": {
      "main": [
        [
          {
            "node": "Combine News Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Language Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News Website": {
      "main": [
        [
          {
            "node": "Extract News Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Summarizer": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Fetch News Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Language Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Summarizer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI News Summarizer1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}